@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my assignments to the Encryption class. There should be two windows open. This one and a purple ish one.</p>
    <p>The other one is the Hybrid Encryption demo. It uses SignalR and a blazor project to show the steps of Asymmetric to symmetric encryption.</p>
</div>

