@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center">
    <label>Username</label>
    <input id="username" />
</div>
<div class="text-center">
    <label>Password</label>
    <input id="password" />
</div>
<div class="text-center">
    <button class="button" onclick="">Login</button>
</div>