@model User
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form method="post">
    <div class="text-center mb-2">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="text-center mb-3">
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="text-center mb-5">
        <button class="btn btn-primary" type="submit">Login</button>
        <p>Login attempts remaining: @(5 - LoginCounter.Counter) </p>
    </div>
    <p class="text-center mt-5">Hey and welcome to my login page.</p>
    <p class ="text-center">If I should work on this some more I would implement blocker, so if the tried to login several times a second it would block or pause.</p>
    
</form>


