@model EncryptionModel

@{
    ViewData["Title"] = "Encryption";
}

<h1>Encryption</h1>

<hr />  
  
<form method="post">
    <div class="row">  
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Encryption types</label>

                <select asp-for="UserChosenAlgorithm" asp-items="Model.CipherAlgorithms" class="form-control" required="true">
                    <option selected disabled>Select Symetrical Algorithm</option>
                </select>
            
                <div class="form-group">
                    <label class="control-label mt-4">Mode</label>
                    <input asp-for="Cipher" type="radio" name="Cipher" value="CBC" />CBC
                    <input asp-for="Cipher" type="radio" name="Cipher" value="ECB" />ECB
                </div>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">  
            <form asp-action="Create">  
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
              
                <div class="form-group">  
                    <label asp-for="Key" class="control-label">Key</label>
                    <input asp-for="Key" class="form-control" required="true" />
                </div>  
                <div class="form-group">  
                    <label asp-for="IV" class="control-label">IV</label>  
                    <input asp-for="IV" class="form-control" required="true" />  
                </div>  
                <h6 class="mt-4">PLAINTEXT</h6>
                <div class="form-group">  
                    <label asp-for="PlainText" class="control-label"></label>
                    <input asp-for="PlainText" class="form-control" />
                </div>  
                <h6 class="mt-4">CIPHERTEXT</h6>
                <div class="form-group">
                    <label asp-for="CipherText" class="control-label"></label>
                    <input asp-for="CipherText" class="form-control" />
                </div>
            

                <div class="form-group mb-4 mt-4">
                    <input type="submit" asp-action="EncryptDecrypt" class="btn btn-primary" value="Encrypt/Decrypt">
                </div>
            </form>
            <p>So lets not talk about this one shall we...</p>
            <p>It didn't get completed since I focused more on the other tasks.'</p>
            <p>The AES Encryption works if you feed it the correct size key and IV'</p>
            <p>Then it will read of there is text in the plain text field of the cipher text field'</p>
            <p>And depending on witch field is filled it will encrypt or decrypt it.'</p>
            <p>If you want to try it use Key: PeSgVkYp3s6v9y$B&E)H@McQfTjWmZq4 </p>
            <p>and IV: HR$2pIjHR$2pIj12 And after that it will calculate how long it took</p>
            <p>It's actually very close to being done, and who knows, I might actually return and complete it at some point'</p>


        </div>
        <div class="col-md-3">
            <p>Result</p>
            <textarea class="text-info">
                @ViewBag.SavedText
            </textarea>
        
            <p>Time To Resolve:</p>
            <p>@ViewBag.Timed</p>
        </div>
    </div>
</form>
 